body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ContenedorHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.logoTitulo{
  display: flex;
  flex-direction: row;
  width: 50%;
  height: auto;
  gap: 10px;
  align-items: center;
  margin-left: 20px;
  padding: 5px 5px;
}

.imgReact{
  width: 80px;
  height: 60px;
}

.titulo{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  color: rgb(65, 61, 61);
}

.hr{
  width: 95%;
  border: 1px solid rgba(54, 51, 51, 0.581);
}

.ancla{
  text-decoration: none;
  font-size: 20px;
  color: rgb(65, 61, 61);
  border: 1px solid rgba(62, 57, 57, 0.568) ;
  border-radius: 5px;
  box-shadow: 1px 2px 4px 1px rgb(71, 67, 67);
  transition: 0.5s;
}

.ancla:hover{
  font-size: 23px;
  transition: 0.5s;
}
.nav{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* footer */
.contenedorFooter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nombre{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  color: rgb(65, 61, 61);
  margin-left: 35px;
}

.iconos{
  width: 60px;
  height: 50px;
}

.imgs{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 35px;
}

.imgActualizar{
  width: 30px;
  height: 25px;
}

.imgEliminar{
  width: 30px;
  height: 25px;
}

.btnActualizar{
  width: auto;
  height: auto;
  border: none;
}

.btnEliminar{
  width: auto;
  height: auto;
  border: none;
}

.gestionUsuario{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.formulario{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contTabla{
  width: 100%;
}
.contsUsuarios{
  width: 100%;
}

.input{
  width: 100%;
  border: solid 1px rgba(43, 42, 42, 0.452);
  border-radius: 3px;
  box-shadow: 1px 1px 3px 2px rgba(35, 34, 34, 0.668);
}

/* modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 500px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-header h2 {
  margin: 0;
}

.modal-header button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  padding: 20px 0;
}

.cerrarModal{
  color: red;
}

#btnGuardar{
  width: 45%;
}
#btnCancelar{
  width: 45%;
}

.contBtn{
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.contenedorLabel{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.inputModalAct{
  width: 80%;
  border: solid 1px rgba(43, 42, 42, 0.452);
  border-radius: 3px;
  box-shadow: 1px 1px 3px 2px rgba(35, 34, 34, 0.668);
}

.label{
  width: 20%;
}